<div class="change-password-container">
  <div class="change-password-card">
    <h3 class="centered mb-3" *ngIf="status == 1">Change Password</h3>

    <h1 class="showPasswordIcon d-flex justify-content-center" (click)="showPasswordfun()" *ngIf="status == 3">
      {{ showPassword ? '🙈' : '🙉' }}
    </h1>

    <form [formGroup]="changePasswordForm">
      <div formGroupName="emailValidation" *ngIf="status == 1">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="text"
            id="email"
            class="form-control"
            placeholder="Email"
            formControlName="email"
            [(ngModel)]="email"
            required
          />
        </div>
        <div *ngIf="emailValidation.get('email')?.invalid && emailValidation.get('email')?.touched " class="text-danger mb-2">
          Email is required
        </div>

        <button
          type="submit"
          class="btn btn-primary full-width cursor"
          [disabled]="emailValidation.get('email')?.invalid"
          (click)="onSendOtp()"
        >
          Send OTP
        </button>
      </div>

      <div formGroupName="otpValidation" *ngIf="status == 2">
        <p class="text-center fs-4">OTP sent to {{ email }}</p>

        <div class="mb-3">
          <label for="otp" class="form-label">OTP</label>
          <input
            type="text"
            id="otp"
            class="form-control"
            placeholder="Enter the OTP"
            formControlName="otp"
            required
          />
        </div>
        <div class="d-flex justify-content-around">
        <a class="pt-2 text-decoration-none cursor" (click)="onSendOtp()">Resend OTP</a>
        <a class="pt-2 text-decoration-none cursor" (click)="differentNumber()">Change Email?</a>

        <button
          type="submit"
          class="btn btn-primary full-width cursor"
          [disabled]="otpValidation.invalid"
          (click)="verifyOtp()"
        >
          Verify OTP
        </button>
      </div>
      </div>

      <div formGroupName="passwordValidation" *ngIf="status == 3">
        <div class="mb-4 input-tag">
          <label for="newPassword" class="form-label">New Password</label>
          <input
            type="{{ showPassword ? 'password' : 'text' }}"
            class="form-control"
            id="newPassword"
            formControlName="newPassword"
            required
          />
          <div *ngIf="passwordValidation.get('newPassword')?.invalid && passwordValidation.get('newPassword')?.touched" class="text-danger">
            New Password is required
          </div>
          <div class="text-secondary mt-3" *ngIf="passwordValidation.get('newPassword')?.errors?.['pattern']">
            Password must be at least 8 characters long, 
            contain one uppercase letter, one number, and one special character.
          </div>
        </div>

        <div class="mb-4">
          <label for="confirmPassword" class="form-label">Confirm Password</label>
          <input
            type="{{ showPassword ? 'password' : 'text' }}"
            class="form-control"
            id="confirmPassword"
            formControlName="confirmPassword"
            required
          />
          <div *ngIf="passwordValidation.get('confirmPassword')?.invalid && passwordValidation.get('confirmPassword ')?.touched" class="text-danger">
            Confirm Password is required
          </div>
          <div class="text-danger mt-2" *ngIf="changePasswordForm.errors?.['mismatch'] && changePasswordForm.get('passwordValidation.confirmPassword')?.touched">
            Passwords do not match!
          </div>
          
        </div>

        <p class="showPassword" (click)="showPasswordfun()">
          {{ showPassword ? 'Show' : 'Hide' }} Password
        </p>

        <button
          type="submit"
          class="btn btn-success full-width input-tag cursor"
          [disabled]="passwordValidation.invalid"
          (click)="updatePassword()"
        >
          Change Password
        </button>
      </div>
    </form>
  </div>
</div>
