<div
  *ngIf="visible"
  class="bg-light vh-10 p-1"
  style="
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: #cacccf;
    background-color: white;
  "
>
  <div style="margin: 25px">
    <button
      class="btn mb-2"
      style="
        width: 100%;
        background-color: rgb(10, 128, 224);
        color: white;
        font-style: normal;
      "
      (click)="toggleModule()"
    >
      Domain
    </button>

    <ul *ngIf="showSubmodules" class="list-group d-flex align-items-end">
      <li
        class="list-group-item d-flex justify-content-start"
        style="margin: 1px; width: 200px; border: none; background-color: white; cursor: pointer;"
        *ngFor="let sub of subModules"
         (click)="onSubmoduleClick(sub)"
      >
        <i
          class="bi bi-circle-fill"
          style="margin-right: 20px; color: orange"
        ></i>
        {{ sub }}
      </li>
    </ul>
  </div>
</div>
<!-- <app-header [visible]="visible"></app-header> -->
