

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-snack-bar-container {
    margin-top: 20px;
  }
  
  .mat-snack-bar-container.mat-snack-bar-top {
    top: 20px !important; /* <-- add !important */
    bottom: auto !important;
  }
  
  
  html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  app-root {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  